#nav {display: block;
width: 100%;
background-color: lightgray;}

.navbutton {display: inline-block;
    text-align: center;
    color: white;
    background-color: slategray;
    padding: 30px;
    height: 10px;
    width: 200px;   
}
#sidebar {width: 18%;
    background-color: grey;
    float: left;
    height: 5000px;
    border: 2px solid black;
}
#mainContent {width: 81%;
    background-color: aquamarine;
    float: left;
    height: 5000px;
}
.profile {color: black;
    height: 200px;
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 90px;
}
.list { position: absolute;
    color: black;
    margin-left: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
li {margin-bottom: 20px;}

h2 {font: 32px bold;
}

.statHead {font: 20px bold;
text-decoration: underline;
text-align: center;}

.hero {display: block;
    margin: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.herotitle {display: inline-block; margin: 50px 0px 75px 20px;}

#puppy1 {margin: 20px;}

.bodyText {font-size: 20px;}